= simple_form_for(user, url: quick_registration_path(:user), method: :post, remote: true, defaults: { input_html: { class: 'form-control mb-30' } }, html: { id: 'quick_reg' }) do |f|
  = f.input :email, autofocus: true, placeholder: t('placeholder.enter_email')
  = f.submit t(:continue_checkout), class: 'btn btn-default mb-20'
