%main.container.general-main-wrap
  = render partial: 'checkouts/address/addresses', locals: { billing_address_form: @billing_address_form, shipping_address_form: @shipping_address_form, presenter: @presenter }
