$('.general-main-wrap').html("#{j(render partial: 'checkouts/address/addresses', locals: { billing_address_form: @form.billing_address, shipping_address_form: @form.shipping_address, presenter: @presenter })}");
