%p= t('messages.hello_email', email: @resource.email)
%p= t('messages.reset_password_instructions')
%p= link_to t('messages.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('messages.reset_password_message')
